body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

form {
    position: absolute;
    padding: 20px;
    border: 2px solid #613ACC;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

form:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.button-group input[type="submit"],
.button-group input[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #613ACC;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

.button-group input[type="submit"]:hover,
.button-group input[type="button"]:hover {
    background-color: #320E95;
}

label {
    /* 添加5像素的左右间隔 */
    margin: 5px;
    /* 统一字体大小和颜色 */
    font-size: 16px;
    color: #333;
    display: inline-flex;
    align-items: center;
}


label input[type="checkbox"] {
    margin-right: 5px;
}

p {  
    text-align: center;
    font-size: 16px;
    color: #333;
    line-height: 1.6;  
    margin: 10px 0; 
    font-weight: bold;  
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin: 20px 0; 
}

.collapsible-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.collapsible-form .form-header {
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.collapsible-form .form-body {
    padding-top: 10px;
}

.drag-handle {
    cursor: move;
    position: relative;
    z-index: 1;
    float: right;    
    margin-left: 5px;
}