body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

form {
    width: 200px;
    margin: 0; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

}


label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #613ACC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #320E95;
}

.button-group {
    text-align: center;
}

.button-group input[type="submit"] {
    margin-bottom: 10px; 
}

select {
    width: 80%;          
    padding: 10px;       
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px;  
    font-size: 16px;   
    color: #333;   
    background-color: white; 
    appearance: none;   
    -webkit-appearance: none; 
    -moz-appearance: none;   
}

select:hover {
    border-color: #66afe9;
}

select:focus {
    border-color: #286090; 
    outline: none;        
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); 
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: white;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
}

input[type="number"]:hover {
    border-color: #66afe9;
}

input[type="number"]:focus {
    border-color: #286090;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.vertical-distribute {
    justify-content: space-between; 
}


input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #613ACC;
    border-color: #613ACC;
}

input[type="checkbox"]:hover {
    border-color: #320E95;
}

input[type="checkbox"]:focus {
    border-color: #320E95;
    outline: none;
    box-shadow: 0 0 5px rgba(50, 14, 149, 0.5);
}


.text-container {
    width: 200px; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    line-height: 1.2; 
    display: inline-block; 
    font-size: 16px; 
    transition: font-size 0.3s ease; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.text-container:hover {
    font-size: 15px; 
}


.checkbox-container {
    display: inline-block;
    margin-right: 10px;
}

.file-table {
    width: 100%;
    border-collapse: collapse;
}

.file-table th, .file-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.file-table th {
    background-color: #f2f2f2;
}

.file-table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.uniform-button {
    background-color: #FF5733; 
    color: white;             
    padding: 10px 20px;       
    border: none;              
    border-radius: 5px;        
    cursor: pointer;         
    font-size: 16px;       
    transition: background-color 0.3s ease; 
}

.uniform-button:hover {
    background-color: #DD3300; 
}

.uniform-button:active {
    background-color: #AA2200; 
}

.green-button {
    background-color: #4CAF50; 
    color: white;             
    padding: 10px 20px;       
    border: none;              
    border-radius: 5px;        
    cursor: pointer;         
    font-size: 16px;       
    transition: background-color 0.3s ease; 
}
.green-button:hover {
    background-color: #3E8E41; 
}
.green-button:active {
    background-color: #2F6928;
}


input[type="file"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: white;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}


input[type="file"]:hover {
    border-color: #66afe9;
}


input[type="file"]:focus {
    border-color: #286090;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}