<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配置编辑</title>
    
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/config.js"></script>
    <style>
        .button-group input[type="submit"] {
            margin-bottom: 10px;
        }
        
    </style>
    <script>
        function showSuccessAlert() {
            alert("保存成功");
        }
    </script>
    
    
</head>
<body>
    <form action="/save_config" method="post" onsubmit="showSuccessAlert()" style="width: 320px;">
        <h2>服务器管理</h2>
        <label for="port1">游戏端口1:</label>
        <input type="text" title="切换端口1" id="port1" name="port1" value="{{ port1 }}"><br>
        <label for="port2">游戏端口2:</label>
        <input type="text" title="切换端口2" id="port2" name="port2" value="{{ port2 }}"><br>
        <label for="IP">IP地址(非必填):</label>
        <input type="text" id="IP" name="IP" value="{{ ip }}"><br>
        <a href="http://example.com/apply" target="_blank" style="cursor: pointer;">
            卡密:（点击申请）
        </a>
        <input type="text"  title="卡密可以去网页申请或者QQ群申请"  id="password" name="password" value="{{ password }}"><br>
        <label for="port">控制台端口:</label>
        <input type="text" title="打开控制台：
内网输入127.0.0.1:你的端口
外网输入你服务器公网:你的端口" id="port" name="port" value="{{ port }}"><br>
        <label for="pin">pin码:</label>
        <input type="text" title="如果没设置默认为123456" id="pin" name="pin" value="{{ pin }}"><br>

        <div class="button-group">
            <input type="submit" value="保存配置">
        </div>

    </form>


    <form action="/save_game_config" method="post" onsubmit="showSuccessAlert()">
        <h2>游戏配置</h2>
        <label for="map">地图选择:</label>

        <select id="map" name="map">
            <option value="Departure_Persistent" {{ 'selected' if map == 'Departure_Persistent' }}>峰顶</option>
            <option value="Expanse_Persistent" {{ 'selected' if map == 'Expanse_Persistent' }}>代价</option>
            <option value="Approach_Persistent" {{ 'selected' if map == 'Approach_Persistent' }}>入口</option>
        </select><br>

        <label for="playermax">最大玩家人数:</label>
        <input type="number" id="playermax" name="playermax" min="1" max="64" value="{% if playermax %}{{ playermax }}{% else %}8{% endif %}"><br>
        <label for="thralls">内奸人数:</label>
        <input type="number" id="thralls" name="thralls"  min="1" max="64" value="{% if thralls %}{{ thralls }}{% else %}2{% endif %}"><br>
        <label for="dayminutes">每天分钟数:</label>
        <input type="number" id="dayminutes" name="dayminutes" min="6" max="15" value="{% if dayminutes %}{{ dayminutes }}{% else %}9{% endif %}"><br>
        <label for="daysbeforeblizzard">暴风雪天数:</label>
        <input type="number" id="daysbeforeblizzard" name="daysbeforeblizzard"  min="2" max="6" value="{% if daysbeforeblizzard %}{{ daysbeforeblizzard }}{% else %}3{% endif %}"><br>
        <label for="predatordamage">掠食者伤害:</label>
        <input type="number" id="predatordamage" name="predatordamage"  min="0.1" max="3" step="0.1" value="{% if predatordamage %}{{ predatordamage }}{% else %}1{% endif %}"><br>
        <label for="coalburnrate">煤炭消耗率:</label>
        <input type="number" id="coalburnrate" name="coalburnrate"  min="0.1" max="3" step="0.1" value="{% if coalburnrate %}{{ coalburnrate }}{% else %}1{% endif %}"><br>
        <label for="hungerrate">饥饿消耗率:</label>
        <input type="number" id="hungerrate" name="hungerrate"  min="0.1" max="3" step="0.1" value="{% if hungerrate %}{{ hungerrate }}{% else %}1{% endif %}"><br>
        <label for="coldintensity">寒冷速率:</label>
        <input type="number" id="coldintensity" name="coldintensity"  min="0.1" max="3" step="0.1" value="{% if coldintensity %}{{ coldintensity }}{% else %}1{% endif %}"><br>

        <div class="button-group">
            <input type="submit" value="保存配置">
        </div>

    </form>


    <form action="/save_tsg_config" method="post" onsubmit="showSuccessAlert()" style="width: 400px;">
        <h2>补丁管理</h2>
        <table class="file-table">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>文件名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3"><strong>JS补丁:</strong></td>
                </tr>
                {% for jspatches in jspatches %}
                <tr>
                    <td><input type="checkbox" name="selected_files" value="{{ jspatches }}"></td>
                    <td>{{ jspatches }}</td>
                    <td>
                        <button type="button" class="delete-button uniform-button">删除</button>
                        <button type="button" class="edit-button blue-button" style="margin-left: 10px;">编辑</button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"><strong>Bin补丁:</strong></td>
                </tr>
                {% for binpatches in binpatches %}
                <tr>
                    <td><input type="checkbox" name="selected_files" value="{{ binpatches }}"></td>
                    <td>{{ binpatches }}</td>
                    <td>
                        <button type="button" class="delete-button uniform-button">删除</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="button-group" style="margin-top: 30px">
            <input type="file" id="fileInput" />
            <input type="submit" value="保存配置">
            <button type="button" style="margin-left: 30px;" class="green-button" onclick="uploadFile()">上传</button>
            <a href="https://tsg-patch.moeyy.cn/" class="blue-button" style="margin-left: 30px; text-decoration: none; color: inherit;" target="_blank">
                下载
            </a>
        </div>
    </form>

    <form  style="width: 400px;">
        <h2>BIN管理配置修改</h2>
        <table class="file-table">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>文件名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3"><strong>BIN配置修改:</strong></td>
                </tr>
                {% for tsgconfig in tsgconfig %}
                <tr>
                    <td><input type="checkbox" name="selected_files" value="{{ tsgconfig }}"></td>
                    <td>{{ tsgconfig }}</td>
                    <td>
                        <button type="button" class="editbin-button blue-button">编辑</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="button-group" style="margin-top: 30px">
            <a href="https://docs.qq.com/aio/DU1NaaWlPWkxNZWxR?p=K5qAwpnouYZFzz8eDK1fMX" class="blue-button" style="margin-left: 30px; text-decoration: none; color: inherit;" target="_blank">
                Bin编辑教程
            </a>
        </div>
    </form>



    
</body>
</html>